.navbar{

  height: 70px;
  width: 100%;
  background: #170e61;
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}


.app-logo{
  
  text-align: right;
    padding-top:0.5vw;
    padding-right:0.5vw;
    float:right;
}



.area{
  background: #ffffff;
  height: 100%;
}


.sidebar{
  background: #03223c;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
   
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

}



.canvas{
 
  
  
  transition: margin-left .5s;
  margin-left: 0px;
}

.canvas-right{
 
  
  transition: margin-left .5s;
  margin-left: 300px;
}


.openbtn{
  font-size: 40px;
  cursor: pointer;
  background-color: #170e61;
  color: white;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  border: none;
}


.openbtn:hover {
  background-color: #8e1818;
}



.sidebar .closebtn {
  position: absolute;
    top: 0;
    left: 0px;
    padding-left: 0px;
    font-size: 55px;
    margin-left: 50px;
}


.course a {
  /* padding: 8px 8px 8px 32px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

  text-decoration: none;
  font-size: 25px;
  color: #4ecbb8;
  display: block;
  transition: 0.3s;
}


.course a:hover {
  color: #f1f1f1;
}

.section a {
  color: #4ecbb8;
  /*padding: 8px 8px 8px 32px;*/

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;


  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.section a:hover {
  color: #f1f1f1;
}


.lesson-hidden a{
  display:none;

}


.lesson a {
  color: #11a3d3;
  /*padding: 8px 8px 8px 32px;*/


  padding-left: 30px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;

  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.lesson a:hover {
  color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}

  .app-logo{
  
    text-align: right;
      padding-top:5px;
      padding-right:5px;
      float:right;
  }
  
}


